  <div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <!-- <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="la.jpg" alt="Los Angeles" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="chicago.jpg" alt="Chicago" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="ny.jpg" alt="New York" width="1100" height="500">
    </div>
  </div> -->
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>













<div class="container" style="background-color:rgb(27, 22, 22);">
  <app-header></app-header>

  <app-cart-item></app-cart-item>
<div>
  <app-template-container></app-template-container>
</div><div style="margin-top: 30px;"><app-product-item ></app-product-item></div>
<!-- <app-filters></app-filters> -->
<app-product-list style="margin-top: 30px;"></app-product-list>
<br>
<div>
  <app-cart></app-cart>
</div>
<div class="footer">
<app-footer></app-footer>
</div>
