<!-- <div class="card-group">
    <div class="card">
        <img src="assets/images/download.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-primary product-btn">Add to Cart</button>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="assets/images/download.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-primary product-btn">Add to Cart</button>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="assets/images/download.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-primary product-btn">Add to Cart</button>
            </div>
        </div>
    </div>
</div>


<div class="card-group">
    <div class="card">
        <img src="assets/images/download.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-primary product-btn">Add to Cart</button>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="assets/images/download.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-primary product-btn">Add to Cart</button>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="assets/images/download.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-primary product-btn">Add to Cart</button>
            </div>
        </div>
    </div>
</div>


<div class="card-group">
    <div class="card">
        <img src="assets/images/download.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-primary product-btn">Add to Cart</button>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="assets/images/download.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-primary product-btn">Add to Cart</button>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="assets/images/download.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-primary product-btn">Add to Cart</button>
            </div>
        </div>
    </div>
</div> -->




<!-- Card deck -->
<div class="card-deck">

    <!-- Card -->
    <div class="card mb-4">
  
      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="assets/images/image2.jpg"
          alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
  
      <!--Card content-->
      <div class="card-body">
  
        <!--Title-->
        <h4 class="card-title">Electronics Gadgets</h4>
        <!--Text-->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-primary product-btn">Add to Cart</button>
        </div>
      </div>
  
    </div>
    <!-- Card -->
  
    <!-- Card -->
    <div class="card mb-4">
  
      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="assets/images/image3.jpg"
          alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
  
      <!--Card content-->
      <div class="card-body">
  
        <!--Title-->
        <h4 class="card-title">Casuals</h4>
        <!--Text-->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-primary product-btn">Add to Cart</button>
        </div>  
      </div>
  
    </div>
    <!-- Card -->
  
    <!-- Card -->
    <div class="card mb-4">
  
      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="assets/images/image4.jpg" style="height:250px;" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
  
      <!--Card content-->
      <div class="card-body">
  
        <!--Title-->
        <h4 class="card-title">Beach Wears</h4>
        <!--Text-->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-primary product-btn">Add to Cart</button>
        </div>
      </div>
  
    </div>
    <!-- Card -->
  
  </div>
  <!-- Card deck -->


  <!-- Card deck -->


    <!-- Card -->

  
    

  <!-- Card deck -->

